###################
## frontend
###################

# Static
src/frontend/images/*

# Dev
.yarn
yarn.lock

.pnp*

# Build
dist
node_modules
src/backend/static/*.html
src/backend/static/*.js

###################
## backend
###################

# Dev
*/bin
*/include
*/lib
*/lib64
*/pyvenv.cfg

*.env

src/backend/db.sqlite3

## Run
src/backend/*/__pycache__
src/backend/*/migrations
!src/backend/*/migrations/__init__.py