###################
## frontend
###################

# Static
src/frontend/img/*
!src/frontend/img/topimage.jpg

# Dev
.yarn
yarn.lock

.pnp*

# Build
dist
node_modules
src/backend/static
.next

###################
## backend
###################

# Dev
*/bin
*/include
*/lib
*/lib64
*/pyvenv.cfg
__pycache__

*.env
*db.sqlite3

## test
src/hello/django

## Run
src/backend/*/__pycache__
src/backend/*/migrations
!src/backend/*/migrations/__init__.py
src/django-env/*
/test-results/
/playwright-report/
/playwright/.cache/
