###################
## frontend
###################

# Static
src/frontend/images/*

# Dev
.yarn
yarn.lock

.pnp*

# Build
dist


###################
## backend
###################

# Dev
django-env

src/backend/db.sqlite3

## Run
src/backend/*/__pycache__
src/backend/*/migrations/*
!src/backend/*/migrations/__init__.py