@mixin style_attach($styles : ()) {

  @each $style , $value in $styles {
    
    @if $style == '-webkit-text-stroke-color' {
      -webkit-text-stroke-color: map-get($styles,$style);
    }

    @if $style == '-webkit-text-stroke-width' {
      -webkit-text-stroke-width: map-get($styles,$style);
    }

    @if $style == 'background' {
      background: map-get($styles,$style);
    }

    @if $style == 'color' {
      color: map-get($styles, $style);
    }

  }
}