@custom-media --device-tablet-lg screen and (max-width: 428px);

$brackpoints: (
  device-phone:     "screen and (max-width: 428px)",   //スマートフォン
  device-tablet:    "screen and (max-width: 768px)",   //通常のタブレット
  device-ipad:      "screen and (max-width: 834px)",   //ipad
  device-tablet-lg: "screen and (max-width: 1280px)",  //タブレット(ipadより少し大きい)
  device-pc:        "screen and (min-width: 1281px)",  //PC
) !default;

@mixin z-map($list) {
  @each $name in $list {
    #{$name}: #{index($list,$name) - 1};
  }
}

@mixin style-fix-content() {
  width: fit-content;
  height: fit-content;
}

@mixin mq($target) {
  @media #{map-get($brackpoints , $target)} {
    @content;
  }
}

@mixin attach_textstyle_forFigma() {
  & {
    @apply absolute;
    -webkit-text-stroke-width: 0px;
  }

}

@mixin position_centerWidthRender() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin position_centerHeightRender() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin position_centerRender() {
  @include position_centerWidthRender();
  @include position_centerHeightRender();
}

@mixin margin_height_auto() {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin margin_width_auto() {
  margin-left: auto;
  margin-right: auto;
}

@mixin option_disabled() {
  &.disabled {
    display: none;
  }
}

//* ブラウザの描画範囲
$screenWidth: 100vw;
$screenHeight: calc(100vh * 1.5);

//* ブラウザの表示割合
$screen_Full: 1;
$screen_Header: 0.15;
$screen_Footer: 0.17;
$screen_Body: $screen_Full - $screen_Header - $screen_Footer;

$screenHeaderHeight: $screenHeight * $screen_Header;
$screenFooterHeight: $screenHeight * $screen_Footer;
$screenBodyHeight: $screenHeight * $screen_Body;

//* ブラウザの最大表示範囲
// 範囲外が多少あるためリサイズ
$screen_Max_Width: $screenWidth * 1.0;
$screen_Max_Height: $screenHeight * 1.0;

@function viewport_getHeight($num) {
  @return $screen_Max_Height * calc($num / 100);
}

@function viewport_getWidth($num,$device:"none") {
  @return $screen_Max_Width * calc($num / 100);
}

//----------------------------------------------------
//-----------------  計算  -------------------------
//----------------------------------------------------

@function autolayoutCenterRender($size) {
  @return calc((100% - $size) / 2);
}