$color-font-basic: rgba(1, 1, 1, 1);
$color-font-basic-placeholder: rgba(180, 180, 180, 1);

$color-font-help: rgba(255, 255, 255, 1);
$color-font-requied-base: rgba(255, 255, 255, 1);
$color-font-requied-stroke: rgba(254, 0, 0, 1);
$color-font-param-placeholder: rgba(156, 156, 156, 1);

$color-background-basic: rgba(255, 255, 255, 1);

$color-background-help: rgba(57, 72, 202, 1);
$color-background-gender-man: rgba(82, 99, 255, 1);
$color-background-gender-woman: rgba(255, 74, 74, 1);
$color-background-gender-none: rgba(154, 154, 154, 1);

$color-border-basic: rgba(153, 153, 153, 1);

$color-border-requied: rgba(255, 63, 63, 1);
$color-border-param: rgba(177, 177, 177, 1);
$color-bordre-param-focus: rgba(112, 112, 112, 1);