@use 'import' as *;

%layer-canvas_changeStyle {
  //change
  @include mq(device-pc) {
    grid-template:
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 175px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 300px
      "footer footer footer footer footer" $footer__height_normal
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;

    height: viewport_getHeight(200) !important;
  }

  @include mq(device-tablet-lg) {
    grid-template: initial !important;
  }

  @include mq(device-ipad) {
    grid-template: initial !important;
  }

  @include mq(device-phone) {
    grid-template: initial !important;
  }
}

//* common
%common_text_normal {
  @apply whitespace-nowrap;
  font-size: 28px;
  font-weight: 600;
  
  width: fit-content;
  height: fit-content;

  color: $color-font-basic;
}

%common_text_sm {
  @extend %common_text_normal;
  //change
  font-size: 21px;
  font-weight: 800;
  font-style: bold;
  
  -webkit-text-stroke: {
    width: 0.25px;
  }
}

%common_placeholder_normal {
  @apply whitespace-nowrap;
  font-size: 18px;
  font-weight: 600;

  color: $color-font-basic;

  &:focus {
    color: $color-font-basic;
  }

  &::placeholder {
    color: $color-font-basic-placeholder;
  }
}

%main {
  @apply relative top-0 left-0;
  @apply flex flex-col;
  grid-area: main;
  z-index: var(--z-component);

  width: 100%;
  height: 100%;

  @include mq(device-pc) {
    z-index: initial;
  }

  %main__create {
    @apply relative top-0 left-0;
    @apply flex flex-row;

    width: 100%;
    height: 100%;

    //todo
    background-color: lightblue;

    $flex__basic: 0.3;
    $flex__param: 0.45;
    $flex__move: 0.25;

    %create__basic {
      @apply relative top-0 left-0;
      height: 100%;
      flex: $flex__basic;
      
      div {
        @apply relative top-0 left-0;
        @apply flex flex-row;

        width: 100%;
        height: 100px;
        
        //* 比率
        $width_text: 35%;
        $width_margin_box: 10%;
        $width_box: 55%;

        %create__basic_text {
          @apply relative top-0 left-0;
          @apply flex flex-col;

          width: $width_text;
          height: 100%;

          div.basic__text_help {
            @apply absolute top-0 left-0;
            top: 0px;
            left: 165px;
            transform: translate(-50%,-50%);

            width: 20px;
            height: 20px;
            
            border-radius: 50%;
            background: $color-background-help;

            span {
              @apply absolute top-0 left-0;
              @extend %common_text_sm;
              left: 47.5%;
              top: 45%;
              transform: translate(-50%,-50%);

              color: $color-font-help;

              -webkit-text-stroke: {
                color: $color-font-help;
              }
            }
          }

          span.basic__text_name {
            @apply relative top-0 left-0;
            @extend %common_text_normal;
            margin-top: 10%;

            left: 50%;
            transform: translateX(-50%);
          }

          div.basic__required {
            @apply relative top-0 left-0;

            left: 50%;
            transform: translateX(-50%);

            width: 85px;
            height: 20px;
            
            background: $color-background-basic;
            
            border: solid;
            border: {
              width: 1.6px;
              radius: 3px;
              color: $color-border-requied;
            }

            div.stroke-text {
              @apply absolute top-0 left-0;
              left: 50%;
              top: 50%;
              
              span {
                @extend %text_stroke_style_common;
                @apply whitespace-nowrap;
                font-size: 16px;
                font-weight: 600;
              }

              span.main {
                @extend %text_stroke_style_main;
                color: $color-font-requied-base;
              }
      
              span.back {
                @extend %text_stroke_style_back;
                color: $color-font-requied-stroke;
                -webkit-text-stroke-width: 2.5px;
              }
            }
          }
        }

        %create__basic_box {
          @apply relative top-0 left-0;
          @apply flex flex-row;
          width: $width_box;
          margin-left: $width_margin_box;

          //todo
          // background-color: blue;

          $z-img: 2;
          $z-input: 1;

          //* search
          img:nth-of-type(1) {
            z-index: $z-img;
            @apply absolute top-0 left-0;
            
            top: 50%;
            transform: translateY(-50%);
            left: 5%;

            height: 30px;
            width: 30px;

            //todo
            background-color: green;
          }

          //* arrow
          img:nth-of-type(2) {
            z-index: $z-img;
            @apply absolute top-0 right-0;

            top: 50%;
            transform: translateY(-50%);
            right: 5%;

            height: 42px;
            width: 42px;

            //todo
            background-color: red;
          }

          //* gender
          div {
            z-index: $z-img;
            @apply absolute top-0;
            
            left: 105%;
            top: 50%;
            transform: translateY(-50%);
            
            height: 30px;
            width: 30px;

            border-radius: 50%;

            span {
              @apply absolute top-0 left-0;
              top: 45%;
              left: 45%;
              transform: translate(-50%,-50%);
              
              @extend %common_text_sm;
              @extend %not_copyline;
              //change
              font-size: 24px;
              color: $color-background-basic;
            }

            &.basic__gender_man {
              background: $color-background-gender-man;
            }
            
            &.basic__gender_woman {
              background: $color-background-gender-woman;

              span {
                left: 49%;
              }
            }

            &.basic__gender_none {
              background: $color-background-gender-none;

              span {
                top: 40%;
                left: 47%;
              }
            }
          }

          input {
            z-index: $z-input;
            @apply relative top-0 left-0;
            top: 50%;
            transform: translateY(-50%);

            padding: {
              left: 25%;
              right: 25%;
            }

            width: 100%;
            height: 75%;

            @extend %common_placeholder_normal;

            border: solid;
            border: {
              width: 3px;
              radius: 3.25px;
              color: $color-border-basic;
            }

            //todo
            // background-color: lightgreen;
          }
        }
      }
    }

    %create__param {
      @apply relative top-0 left-0;
      //todo
      // background-color: blue;
      flex: $flex__param;

      left: 75px;
      top: -50px;

      $width_children: 600px;

      div.param__rows {
        @apply relative top-0 left-0;
        @apply flex flex-row;
        width: $width_children;

        span {
          @apply relative top-0 left-0;
          @extend %common_text_normal;

          transform: translateX(-50%);
          flex: 1;
          color: $color-font-basic;
        }

        span:nth-of-type(1) {
          left: 29.5%;
        }

        span:nth-of-type(2) {
          left: 26.5%;
        }

        span:nth-of-type(3) {
          left: 23.5%;
        }

        span:nth-of-type(4) {
          left: 21%;
        }
      }

      //* 共通
      %wapper__span {
        @apply relative top-0 left-0;
        @extend %common_text_sm;
        transform: translate(-50%,-50%);
        top: 25px;
        left: 10px;
        color: $color-font-basic;
        width: 50px;
        text-align: left;
      }

      %wapper__input {
        @apply relative top-0 left-0;
        @extend %input_disabled_spin;
        width: 125px;
        height: 50px;

        border-width: 3px;
        border-radius: 4px;
        border-color: $color-bordre-param-focus;

        @extend %common_placeholder_normal;
        font-size: 26px;
        text-align: right;
        padding-right: 10px;
        
        &:focus {
          outline: none;
        }
      }

      %wapper_input_placeholder {
        border-color: $color-border-param;
      }

      $margin__top: 30px;

      div.param__paramator {
        @apply relative top-0 left-0;
        @apply flex flex-row;
        @apply justify-around;

        width: $width_children;
        margin-top: $margin__top;

        span {
          @extend %wapper__span;
        }

        input {
          @extend %wapper__input;
        }

        input:nth-of-type(1) {
          @extend %wapper_input_placeholder;
        }
      }
      
      //* total
      div.param__total {
        @apply relative top-0 left-0;
        width: $width_children;
        margin-top: $margin__top;

        span {
          @apply relative top-0 left-0;
          @extend %wapper__span;
          height: fit-content;
          left: -11.5px;
        }

        input {
          @apply relative top-0 left-0;
          @extend %wapper__input;
        }

        input:nth-of-type(1) {
          @extend %wapper_input_placeholder;
          margin-left: 17.5px;
        }

        input:nth-of-type(2) {
          margin-left: 145px;
        }
        
      }

    }

    %create__move {
      @apply relative top-0 left-0;
      flex: $flex__move;
      
      //todo
      background-color: green;
    }
  }

  %main__detail {
    @apply relative top-0 left-0;
    @apply flex flex-row;

    margin-top: 120px;

    width: 100%;
    height: 100%;

    //todo
    background-color: lightgreen;

    $flex__patry: 0.55;
    $flex__search: 1;

    %detail__patry {
      @apply relative top-0 left-0;
      flex: $flex__patry;

      margin: {
        left: 40px;
        right: 60px;
      }

      //todo
      // background-color: red;
    }

    %detail__search {
      @apply relative top-0 left-0;
      flex: $flex__search;

      //todo
      // background-color: blue;
    }
  }
}

div.layer-canvas {
  @extend %layer-canvas_changeStyle;

  main {
    @extend %main;

    div.main__create {
      @extend %main__create;

      div.create__basic {
        @extend %create__basic;

        div.create__basic_text {
          @extend %create__basic_text;
        }

        div.create__basic_box {
          @extend %create__basic_box;
        }
      }

      div.create__param {
        @extend %create__param;
      }
      
      div.create__move {
        @extend %create__move;
      }
    }
    
    div.main__detail {
      @extend %main__detail;

      div.detail__patry {
        @extend %detail__patry;
      }
      
      div.detail__search {
        @extend %detail__search;
      }
    }
  }
}