@use 'import' as *;

%layer-canvas_changeStyle {
  //? change

  @include mq(device-pc) {
    grid-template:
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 300px
      "footer footer footer footer footer" $footer__height_normal
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;
    
    height: viewport_getHeight(150) !important;
  }

  @include mq(device-tablet-lg) {
    grid-template: initial !important;
  }

  @include mq(device-ipad) {
    grid-template: initial !important;
  }

  @include mq(device-phone) {
    grid-template: initial !important;
  }
}

//* common


%main {
  @apply relative top-0 left-0;
  @apply flex flex-col;
  grid-area: main;
  z-index: var(--z-component);

  width: 100%;
  height: 100%;

  //todo
  // background: red;

  //* 高さの比率
  $height__selectArrow: 7.5%;
  $height__sortButton: 10.5%;
  $height__party: calc(100% - $height__selectArrow - $height__sortButton);

  @include mq(device-pc) {
    //todo
    // z-index: initial;
  }

  %main__selectArrow {
    @apply relative top-0 left-0;
    top: -2%;
    left: -2.5%;
    width: 100%;
    height: $height__selectArrow;

    //todo
    // background: red;

    div.back {
      @apply relative top-0 left-0;
      @apply flex flex-row justify-between;
      width: 300px;
      height: 80px;

      border-radius: 15px;
      background: $color-background-div_selectArrow;

      div.borderBg {
        @apply relative top-0 left-0;
        @apply flex;
        transform: translateY(-50%);
        top: 50%;

        $width_selectArrow: 64px;
        $height_selectArrow: 64px;

        width: calc($width_selectArrow * 1.2);
        height: calc($height_selectArrow * 1.1);
            
        &:nth-of-type(1) {
          left: 5%;
        }
  
        &:nth-of-type(2) {
          left: -5%;
        }

        border-radius: 15px;
        background: $color-background-div_selectArrow_borderBg;

        img {
          @apply relative top-0 left-0;
          width: $width_selectArrow;
          height: $height_selectArrow;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
          background-color: black;
        }
      }
      
    }

  }

  %main__sortButton {
    @apply relative top-0 left-0;
    width: 100%;
    height: $height__sortButton;

    //todo
    // background: blue;

    button {
      @apply relative top-0 left-0;
      left: 10.5%;
      width: 290px;
      height: 60px;

      border-radius: 29px;
      border-color: $color-border-sort_button;
      border-width: 4.5px;
      background: $color-background-button_sortButton;
      box-shadow: 0px 5.8px 5.8px 0px rgba(0, 0, 0, 0.25);

      &:hover {
        background: $color-background-basic;
      }

      &:hover > div.stroke-text {
        span.back {
          color: $color-background-button_sortButton;
          -webkit-text-stroke-width: 5px;
        }
        
      }

      div.stroke-text {
        @apply absolute top-0 left-0;
        left: 50%;
        top: 50%;
        
        span {
          @extend %text_stroke_style_common;
          @apply whitespace-nowrap;
          font-size: 34px;
          font-weight: 600;
          text-shadow: 0px 5.8px 5.8px rgba(0, 0, 0, 0.25);
        }

        span.main {
          @extend %text_stroke_style_main;
          color: $color-font-basic2;
        }

        span.back {
          @extend %text_stroke_style_back;
          color: $color-font-sort__button_stroke;
          -webkit-text-stroke-width: 2.5px;
        }
      }
    }

  }

  %main__party {
    @apply relative top-0 left-0;
    @apply flex flex-col;
    width: 100%;
    height: $height__party;

    //todo
    // background: green;

    div.patry__row {
      @apply absolute top-0 left-0;
      @apply flex flex-row;

      width: 100%;
      height: 500px;

      &:last-of-type {
        margin-top: 600px;
      }

      div.component_patryCanvas_div {
        @extend %component_patryCanvas_div;
        width: calc(100% / 5);

        @apply relative top-0 left-0;

        box-shadow: 0px 5.8px 5.8px 0px rgba(0, 0, 0, 0.25);

        &:not(:first-of-type) {
          margin-left: 40px;
        }

        div.text {
          margin-top: 5%;
          div > span {
            @apply whitespace-nowrap;
            left: 51.5%;
          }
        }

        div.member {
          margin-top: 2.5%;
          div.col {
            width: 100%;
            flex: 1;

            div.pokemonImg {
              flex: 1;
              top: 10%;
              transform: scale(0.9);

              &:first-of-type {
                margin-right: 1.5%;
              }

              &:last-of-type {
                margin-left: 1.5%;
              }
            }
          }
        }
      }
    }

  }
}

div.layer-canvas {
  @extend %layer-canvas_changeStyle;

  main {
    @extend %main;

    div.main__selectArrow {
      @extend %main__selectArrow;
    }

    div.main__sortButton {
      @extend %main__sortButton;
    }

    div.main__party {
      @extend %main__party;
    }
  }
}