@use 'import' as *;

div.header__box_menu {
  display: none;
}

%layer-canvas_changeStyle {
  //? change

  @include mq(device-pc) {
    grid-template:
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 300px
      "footer footer footer footer footer" $footer__height_normal
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;
    
    height: viewport_getHeight(150) !important;
  }

  @include mq(device-tablet-lg) {
    grid-template: 
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 300px
      "footer footer footer footer footer" $footer__height_normal
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;
  
    height: viewport_getHeight(190) !important;
  }

  @include mq(device-ipad) {
    grid-template: 
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 100px
      "footer footer footer footer footer" $footer__height_ipad
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;

    height: viewport_getHeight(170) !important;
  }

  @include mq(device-tablet) {
    grid-template: 
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 100px
      "footer footer footer footer footer" $footer__height_ipad
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;

    height: viewport_getHeight(200) !important;
  }

  @include mq(device-phone) {
    grid-template: 
      "...    ...... ...... ...... ...   " 0px
      "header header header header header" $header__height_normal
      "...    ...... ...... ...... ...   " 100px
      "...    main   main   main   ...   " auto
      "...    ...... ...... ...... ...   " 100px
      "footer footer footer footer footer" $footer__height_phone
      "...    ...... ...... ...... ...   " 0px
      / 0.3fr 1fr 1fr 1fr 0.3fr !important;

    height: viewport_getHeight(200) !important;
  }
}

//* common


%main {
  @apply relative top-0 left-0;
  @apply flex flex-col;
  grid-area: main;
  z-index: var(--z-component);

  width: 100%;
  height: 100%;

  //todo
  // background: red;

  //* 高さの比率
  $height__selectArrow: 7.5%;
  $height__sortButton: 10.5%;
  $height__party: calc(100% - $height__selectArrow - $height__sortButton);

  %main__selectArrow {
    @apply relative top-0 left-0;
    top: -2%;
    left: -2.5%;
    width: 100%;
    height: $height__selectArrow;

    //todo
    // background: red;

    @include mq(device-phone) {
      @apply absolute;
      top: 9.5%;
      left: -5%;
    }

    div.back {
      @apply relative top-0 left-0;
      @apply flex flex-row justify-between;
      width: 300px;
      height: 80px;

      border-radius: 15px;
      background: $color-background-div_selectArrow;

      @include mq(device-phone)  {
        width: 355px;
      }

      div.borderBg {
        @apply relative top-0 left-0;
        @apply flex;
        transform: translateY(-50%);
        top: 50%;

        $width_selectArrow: 64px;
        $height_selectArrow: 64px;

        width: calc($width_selectArrow * 1.2);
        height: calc($height_selectArrow * 1.1);
            
        &:nth-of-type(1) {
          left: 5%;
        }
  
        &:nth-of-type(2) {
          left: -5%;
        }

        border-radius: 15px;
        background: $color-background-div_selectArrow_borderBg;

        img {
          @apply relative top-0 left-0;
          width: $width_selectArrow;
          height: $height_selectArrow;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
        }
      }
      
    }

  }

  %main__sortButton {
    @apply relative top-0 left-0;
    width: 100%;
    height: $height__sortButton;

    //todo
    // background: blue;

    @include mq(device-phone) {
      @apply absolute;
      top: initial;

      height: initial;
    }

    button.component__button1 {
      @extend %component__button1;
      left: 10.5%;

      @include mq(device-phone) {
        width: 165px;
        left: -0.5%;
      }
    }

  }

  %main__party {
    @apply relative top-0 left-0;
    @apply flex flex-col;
    width: 100%;
    height: $height__party;

    //todo
    // background: green;

    @include mq(device-phone) {
      top: 20%;
      left: 5%;
    }

    div.patry__row {
      @apply absolute top-0 left-0;
      @apply flex flex-row;

      width: 100%;
      height: 500px;

      &:last-of-type {
        margin-top: 600px;

        @include mq(device-ipad) {
          margin-top: 900px;
        }

        @include mq(device-phone) {
          display: none;
        }
      }

      @include mq(device-tablet-lg) {
        left: -2.5%;
      }

      @include mq(device-ipad) {
        height: 800px;
      }

      @include mq(device-phone) {
        &:first-of-type {
          @apply flex flex-col;
        }
      }

      div.component_patryCanvas_div {
        @extend %component_patryCanvas_div;
        width: calc(100% / 5);

        @apply relative top-0 left-0;

        box-shadow: 0px 5.8px 5.8px 0px rgba(0, 0, 0, 0.25);

        &:not(:first-of-type) {
          @include mq(device-pc) {
            margin-left: 40px;
          }

          @include mq(device-tablet-lg) {
            margin-left: 0px;
          }
        }

        @include mq(device-tablet-lg) {
          $lists: [2,3,4,5];
          @each $i in $lists {
            &:nth-of-type(#{$i}) {
              left: 10px * calc($i - 1);
            }
          }
        }

        @include mq(device-ipad) {
          width: calc(100% / 3);

          &:nth-of-type(4) {
            display: none;
          }
          &:last-of-type {
            display: none;
          }

        }

        @include mq(device-phone) {
          width: 95%;
          box-shadow: 5.8px 5.8px 5.8px 0px rgba(0, 0, 0, 0.25);
          &:not(:first-of-type) {
            display: none;
          }
        }

        div.text {
          margin-top: 5%;

          img {
            @include mq(device-tablet-lg) {
              transform: scale(0.8);
            }
          }

          div {
            @include mq(device-tablet-lg) {
              @apply overflow-hidden;
            }

            @include mq(device-ipad) {
              @apply absolute;
              top: 120%;
              left: 5%;

              width: 190px;
              height: 70px;
            }

            @include mq(device-phone) {
              left: 2.5%;
              top: 140%;
              width: 90%;
            }

            span {
              @apply whitespace-nowrap;
              left: 51.5%;
  
              @include mq(device-tablet-lg) {
                font-size: 16px;
                top: 25%;
                left: 7.5%;
                transform: initial;
              }

              @include mq(device-ipad) {
                left: initial;
                width: 100%;
                font-size: 20px;

                text-align: center;
              }
            }
          }
        }

        div.member {
          @include mq(device-pc) {
            margin-top: 2.5%;
          }

          @include mq(device-tablet-lg) {
            margin-top: 2.5%;
          }

          @include mq(device-ipad) {
            margin-top: 30%;
          }

          @include mq(device-phone) {
            margin-top: 21%;
          }

          div.col {
            flex: 1;

            @include mq(device-ipad) {
              margin-bottom: initial !important;
              margin-top: initial !important;
            }

            div.pokemonImg {
              flex: 1;
              top: 10%;
              transform: scale(0.9);

              @include mq(device-phone) {
                flex: initial;
                width: 140px;
              }

              &:first-of-type {
                margin-right: 1.5%;

                @include mq(device-tablet-lg) {
                  margin-right: 0%;
                }

                @include mq(device-ipad) {
                  margin-right: 2.5%;
                }
              }

              &:last-of-type {
                margin-left: 1.5%;

                @include mq(device-tablet-lg) {
                  margin-left: 0%;
                }

                @include mq(device-ipad) {
                  margin-left: 2.5%;
                }
              }

              @include mq(device-ipad) {
                top: 50%;
                transform: translateY(-50%);
                height: 140px;
              }
            }
          }
        }
      }
    }

  }
}

div.layer-canvas#Analysis {
  @extend %layer-canvas_changeStyle;

  main {
    @extend %main;

    div.main__selectArrow {
      @extend %main__selectArrow;
    }

    div.main__sortButton {
      @extend %main__sortButton;
    }

    div.main__party {
      @extend %main__party;
    }
  }
}