@use '../css/globals.css';
@use 'base' as *;
@use 'mixin' as *;
@use 'style' as *;
@use 'layerbase' as *;

%layer-canvas_changeStyle {
  //change
  @include mq(device-pc) {
    grid-template: 
    "...    ...    ...    ...    ...   " 0px
    "header header header header header" $header__height_normal
    "...    ...... ...... ...... ...   " 200px
    "...    main    main  main   ...   " 1fr
    "...    ...... ...... ...... ...   " 0.03fr
    "footer footer footer footer footer" $footer__height_normal
    "...    ...... ...... ...... ...   " 0px
    / 0.3fr 1fr 1fr 1fr 0.2fr !important;
  
    height: viewport_getHeight(320) !important;
  }

  @include mq(device-tablet-lg) {
    grid-template: 
    "...    ...    ...    ...    ...   " 0px
    "header header header header header" $header__height_normal
    "...    ...... ...... ...... ...   " 125px
    "...    main    main  main   ...   " auto
    "...    ...... ...... ...... ...   " 125px
    "footer footer footer footer footer" $footer__height_normal
    "...    ...... ...... ...... ...   " 0px
    / 0.3fr 1fr 1fr 1fr 0.2fr !important;

    height: viewport_getHeight(340) !important;
  }

  @include mq(device-ipad) {
    grid-template: 
    "...    ...    ...    ...    ...   " 0fr
    "header header header header header" $header__height_normal
    "...    ...... ...... ...... ...   " 125px
    "...    main    main  main   ...   " auto
    "...    ...... ...... ...... ...   " 125px
    "footer footer footer footer footer" $footer__height_ipad
    "...    ...... ...... ...... ...   " 0px
    / 0.3fr 1fr 1fr 1fr 0.2fr !important;

    height: viewport_getHeight(400) !important;
  }

  @include mq(device-phone) {
    grid-template: 
    "...    ...    ...    ...    ...   " 0fr
    "header header header header header" $header__height_normal
    "...    ...... ...... ...... ...   " 0fr
    "...    main    main  main   ...   " 1fr
    "...    ...... ...... ...... ...   " 0fr
    "footer footer footer footer footer" $footer__height_phone
    "...    ...... ...... ...... ...   " 0fr
    / 0.3fr 1fr 1fr 1fr 0.2fr !important;

    height: viewport_getHeight(400) !important;
  }

  %header__text_Demo_changeStyle {
    @include mq(device-phone) {
      display: none !important;
    }
  }

  %header__textbox_search_changeStyle {
    @include mq(device-phone) {
      margin-left: 100px !important;
      flex: 1 !important;
    }
  }

  %header__icon_login_changeStyle {
    @include mq(device-phone) {
      width: 75px !important;
      height: 75px !important;
    }
  }

}

//* 個別のテキスト設定

$margin__large: 30px;
$margin__normal: 10px;

$content__add_liText: "・";

$margin__large_attachlist: (
  "3": [1],
  "6": [1,3,4,5],
  "7": [1,4,5,9,10,14,16,18]
);

div.main__text_title {
  p:not(:first-of-type , :last-of-type) {
    margin-bottom: 2.5px;
  }
}

@each $key , $vals in $margin__large_attachlist {
  div.main__text_title:nth-of-type(#{$key}) {
    @each $val in $vals {
      p:nth-of-type(#{$val}) {
        margin-bottom: $margin__large;
      }
    }
  }
}

div.main__text_title:nth-of-type(3) {
  p:nth-of-type(3) {
    margin-bottom: $margin__normal;
  }
}

div.main__text_title:nth-of-type(4) {
  p:is(:nth-of-type(1) , :nth-of-type(2)) {
    margin-bottom: $margin__normal;
  }
}

div.main__text_title:nth-of-type(7) {
  p:is(:nth-of-type(7) , :nth-of-type(8) , :nth-of-type(12) , :nth-of-type(13)) {
    &::before {
      content: $content__add_liText;
    }
    margin-left: $margin__large;
  }
}

%main {
  @apply flex flex-col;
  @apply relative top-0 left-0;
  grid-area: main;
  z-index: (--z-component);

  width: 100%;
  height: 100%;

  %main__text_title {
    @apply relative;
    @apply flex flex-col;

    &:not(:first-child) {
      margin-top: 35px;
    }

    %main__text_messageTitle {
      color: rgba(0, 0, 0, 1);
      font-size: 28px;
      font-weight: 600;

      @include mq(device-phone) {
        font-size: 20px;
      }
    }

    %main__br {
      @apply relative;
      margin: {
        top: 15px;
        bottom: 10px;
      }
      width: 100%;
      height: 4px;
      
      background: rgba(212, 212, 212, 1);
    }

    %main__text_messageText {
      @apply break-all;
      color: rgba(0, 0, 0, 1);
      font-size: 17.55px;
      font-weight: 600;

      @include mq(device-phone) {
        font-size: 12.55px;
      }
    }
  }
}

div.layer-canvas {
  @extend %layer-canvas_changeStyle;

  div.header__text_Demo {
    @extend %header__text_Demo_changeStyle;
  }

  div.header__textbox_search {
    @extend %header__textbox_search_changeStyle;
  }

  div.header__icon_login {
    @extend %header__icon_login_changeStyle;
  }

  main {
    @extend %main;

    div.main__text_title {
      @extend %main__text_title;
      span.main__text_messageTitle {
        @extend %main__text_messageTitle;
      }

      div.main__br {
        @extend %main__br;
      }

      p.main__text_messageText {
        @extend %main__text_messageText;
      }
    }
  }
}