@use "../base" as *;
@use "../../css/tw-style.css" as components;

$objects: (
  ".text-titlelogo": (
    init: (
      "-webkit-text-stroke-color": rgba(75, 88, 209, 1),
      "-webkit-text-stroke-width": 4px
    )
  ),
  ".button-btn": (
    active: (
      "background": rgba(249, 246, 255, 1),
      "color": rgba(59, 58, 109, 1),
      "-webkit-text-stroke-color": rgba(255, 255, 255, 1)
    ),
    disabled: (
      "background": rgba(59, 58, 109, 1),
      "color": rgba(255, 255, 255, 1),
      "-webkit-text-stroke-color": rgba(111, 105, 124, 1) 
    )
  )
);

@layer components {

  @each $key , $sub_val in $objects {

    @if $key == '.text-titlelogo' {
  
      #{$key} {
        @apply whitespace-nowrap;
        @apply font-bold italic;
        @apply text-9xl text-white;

        @each $key_sub , $sub_sub_val in $sub_val {

          @if $key_sub == 'init' {
            @include style_attach($sub_sub_val);
          }

        }

      }
  
    }
  
  }

}

